.node {
  color: white;
  width: 150px;
  height: 40px;
  font-size: 12px;
  padding: 5px;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  /* transition: font-size 0.1s; */
}
.node:hover {
  min-width: min-content;
  /* max-width: max-content; */
  background-color: black;
  color: white;
  /* font-size: 22px; */
  height: auto;
  text-overflow: clip;
  white-space: initial;
  overflow: initial;
}
.node.writing {
  height: auto;
  text-overflow: clip;
  white-space: initial;
  overflow: initial;
  text-align: center;
}
.node.selected {
  background-color: #5ba4fc;
  color: black;
}
.removed {
  display: none !important;
}

.tippy-box {
  background-color: transparent;
}
.menu-list {
  color: black;
  list-style: none;
}
.menu {
  font-size: 25px;

  margin: 15px;
  background-color: #facff2;
  border: 3px solid #fac;
  padding: 15px;
  border-radius: 14px;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
}
.menu:hover {
  background-color: gray;
  color: white;
}

.hidden {
  display: none !important;
}

.tmp {
  display: none !important;
}
