.sidebar {
  grid-area: sidebar;
  padding: 10px;
  height: 100vh;
  border-right: 1px solid black;
}
.sidebar__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.sidebar__items li {
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
.sidebar__items li:hover {
  color: gray;
}
.sidebar__items .navlink {
  padding: 10px;
  border-radius: 14px;
}
.active {
  background-color: lightgray;
}
